[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

Flask = "*"
flask-cors = "*"
pycryptodome = "*"
pymongo = "*"
dnspython = "*"
pandas = "*"
numpy = "*"
yfinance = "*"
pyjwt = "*"

[requires]

python_version = "3.6"